.background {
    -fx-background-color: #14223C;
}


Label {
    -fx-font-family: "Bebas Neue Regular";
    -fx-text-fill: rgba(180, 73, 91, 0.73);
    -fx-font-size: 25;
}

.mainLabel {
    -fx-font-size: 40;
    -fx-text-fill: rgba(180, 73, 91, 0.73);
}
.topheader{
    -fx-background-color: #0d1331;
}

.chart-series-line {
    -fx-stroke: #b43652;
}

.chart-line-symbol {
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

.axis {
    -fx-tick-label-font-size: 0.94em;
    -fx-tick-label-fill: rgba(180, 73, 91, 0.73);
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.default-color0.chart-pie { -fx-pie-color: rgba(180, 73, 91, 0.73); }
.default-color1.chart-pie { -fx-pie-color: #1f3c62; }

.default-color0.chart-series-line   { -fx-stroke: #B43652; }
.default-color1.chart-series-line   { -fx-stroke: #DD6E37; }
.default-color2.chart-series-line   { -fx-stroke: #EEC782; }
.default-color3.chart-series-line   { -fx-stroke: #FFFFFF; }

.chart-legend {
    -fx-background-color: transparent;
    -fx-font-size: 10;
}
.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: rgba(180, 73, 91, 0.73);
    -fx-font-size: 1em;
}

.chart-pie {
    -fx-background-insets: 0;
    -fx-border-width: 0;
}
.categories{
    -fx-background-color: #212543;
    -fx-background-radius:  5;
}

.chart-info-label {
    -fx-font-size: 12;
}

.progressIndicator {
    -fx-progress-color: rgba(180, 73, 91, 0.73);
}

.progressbar > .track {
    -fx-background-color: transparent;
    -fx-background-radius:0;
    -fx-background-insets: 0, 1;
}

.statusLabel{
    -fx-font-size: 50;
    -fx-text-fill: rgba(42, 180, 38, 0.73);
}